# IDEs, herramientas y entornos de desarrollo
.dbeaver/
.vscode/
.project
*.project
CargueTicketsGLPI/cli/techselection.py
CargueTicketsGLPI/gui/techselection.py

# Python
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/

# Java
**/target/
**/build/
**/*.class
**/*.jar

# Node
node_modules/

# Binarios, logs, backups
*.zip
*.bak
*.gpg
*.env
*.log
*.tmp

# Datos y salidas
Analisis de Datos/
**/data/
**/db/
**/backup/
**/respaldo/
**/logs/
**/logs.txt

# Datasets grandes (agrega aquí los .csv grandes que no sean de ejemplo corto)
2402-SIDI/data/Crime_Data_from_2020_to_Present_20240914.csv
2501-GBD/Proyecto Final/respaldo/logs.txt
2502-AdD/Proyecto/Datos_de_Estaciones_de_IDEAM_y_de_Terceros_20250902.csv

# Archivos temporales del sistema
.DS_Store
Thumbs.db
ehthumbs.db

#Proyectos tipo Pentaho, Docker, etc.
**/tmp/
**/cache/