/2402-SIDI/data/Crime_Data_from_2020_to_Present_20240914.csv

*.zip
*.bak
*.jar
*.gpg
*.env

.dbeaver/credentials-config.json
build
target

*/venv/*
*/__pycache__/*

.vscode/*

datingApp-master/

/2501-GBD/Proyecto Final/respaldo/logs.txt

/2502-AdD/Proyecto/Datos_de_Estaciones_de_IDEAM_y_de_Terceros_20250902.csv